.zoo-card.animal-card[data-id='001'] .ark-card-wrapper {
  background-image: url(/img/animals/001护树罗锅.png);
}

.zoo-card.animal-card[data-id='002'] .ark-card-wrapper {
  background-image: url(/img/animals/002嗅嗅.png);
}

.zoo-card.animal-card[data-id='003'] .ark-card-wrapper {
  background-image: url(/img/animals/003马人.png);
}

.zoo-card.animal-card[data-id='004'] .ark-card-wrapper {
  background-image: url(/img/animals/004卡巴.png);
}

.zoo-card.animal-card[data-id='005'] .ark-card-wrapper {
  background-image: url(/img/animals/005毒角犀.png);
}

.zoo-card.animal-card[data-id='006'] .ark-card-wrapper {
  background-image: url(/img/animals/006凤凰.png);
}

.zoo-card.animal-card[data-id='007'] .ark-card-wrapper {
  background-image: url(/img/animals/007雷鸟.png);
}

.zoo-card.animal-card[data-id='008'] .ark-card-wrapper {
  background-image: url(/img/animals/008隐身兽.png);
}

.zoo-card.animal-card[data-id='009'] .ark-card-wrapper {
  background-image: url(/img/animals/009斯芬克斯.png);
}

.zoo-card.animal-card[data-id='010'] .ark-card-wrapper {
  background-image: url(/img/animals/010比利威格虫.png);
}

.zoo-card.animal-card[data-id='011'] .ark-card-wrapper {
  background-image: url(/img/animals/011纳吉尼.png);
}

.zoo-card.animal-card[data-id='012'] .ark-card-wrapper {
  background-image: url(/img/animals/012火蜥蜴.png);
}

.zoo-card.animal-card[data-id='013'] .ark-card-wrapper {
  background-image: url(/img/animals/013夜骐.png);
}

.zoo-card.animal-card[data-id='014'] .ark-card-wrapper {
  background-image: url(/img/animals/014月亮脸.png);
}

.zoo-card.animal-card[data-id='015'] .ark-card-wrapper {
  background-image: url(/img/animals/015鸟蛇.png);
}

.zoo-card.animal-card[data-id='016'] .ark-card-wrapper {
  background-image: url(/img/animals/016恶婆鸟.png);
}

.zoo-card.animal-card[data-id='017'] .ark-card-wrapper {
  background-image: url(/img/animals/017莫特拉鼠.png);
}

.zoo-card.animal-card[data-id='018'] .ark-card-wrapper {
  background-image: url(/img/animals/018月痴兽.png);
}

.zoo-card.animal-card[data-id='019'] .ark-card-wrapper {
  background-image: url(/img/animals/019囊毒豹.png);
}

.zoo-card.animal-card[data-id='020'] .ark-card-wrapper {
  background-image: url(/img/animals/020如尼纹蛇.png);
}

.zoo-card.animal-card[data-id='021'] .ark-card-wrapper {
  background-image: url(/img/animals/021克鲁克山.png);
}

.zoo-card.animal-card[data-id='022'] .ark-card-wrapper {
  background-image: url(/img/animals/022牙牙.png);
}

.zoo-card.animal-card[data-id='023'] .ark-card-wrapper {
  background-image: url(/img/animals/023路威.png);
}

.zoo-card.animal-card[data-id='024'] .ark-card-wrapper {
  background-image: url(/img/animals/024虫尾巴.png);
}

.zoo-card.animal-card[data-id='025'] .ark-card-wrapper {
  background-image: url(/img/animals/025大脚板.png);
}

.zoo-card.animal-card[data-id='026'] .ark-card-wrapper {
  background-image: url(/img/animals/026尖头叉子.png);
}

.zoo-card.animal-card[data-id='027'] .ark-card-wrapper {
  background-image: url(/img/animals/027炸尾螺.png);
}

.zoo-card.animal-card[data-id='028'] .ark-card-wrapper {
  background-image: url(/img/animals/028鸟形食人怪.png);
}

.zoo-card.animal-card[data-id='029'] .ark-card-wrapper {
  background-image: url(/img/animals/029隐匿怪.png);
}

.zoo-card.animal-card[data-id='030'] .ark-card-wrapper {
  background-image: url(/img/animals/030巨人.png);
}

.zoo-card.animal-card[data-id='031'] .ark-card-wrapper {
  background-image: url(/img/animals/031蜷翼魔.png);
}

.zoo-card.animal-card[data-id='032'] .ark-card-wrapper {
  background-image: url(/img/animals/032驺吾.png);
}

.zoo-card.animal-card[data-id='033'] .ark-card-wrapper {
  background-image: url(/img/animals/033鹰头马身有翼兽.png);
}

.zoo-card.animal-card[data-id='034'] .ark-card-wrapper {
  background-image: url(/img/animals/034格林迪洛.png);
}

.zoo-card.animal-card[data-id='035'] .ark-card-wrapper {
  background-image: url(/img/animals/035火灰蛇.png);
}

.zoo-card.animal-card[data-id='036'] .ark-card-wrapper {
  background-image: url(/img/animals/036弗洛伯毛虫.png);
}

.zoo-card.animal-card[data-id='037'] .ark-card-wrapper {
  background-image: url(/img/animals/037八眼巨蛛.png);
}

.zoo-card.animal-card[data-id='038'] .ark-card-wrapper {
  background-image: url(/img/animals/038卜鸟.png);
}

.zoo-card.animal-card[data-id='039'] .ark-card-wrapper {
  background-image: url(/img/animals/039蛇怪.png);
}

.zoo-card.animal-card[data-id='040'] .ark-card-wrapper {
  background-image: url(/img/animals/040班地芒.png);
}

.zoo-card.animal-card[data-id='041'] .ark-card-wrapper {
  background-image: url(/img/animals/041客迈拉兽.png);
}

.zoo-card.animal-card[data-id='042'] .ark-card-wrapper {
  background-image: url(/img/animals/042毛螃蟹.png);
}

.zoo-card.animal-card[data-id='043'] .ark-card-wrapper {
  background-image: url(/img/animals/043树猴娃.png);
}

.zoo-card.animal-card[data-id='044'] .ark-card-wrapper {
  background-image: url(/img/animals/044燕尾狗.png);
}

.zoo-card.animal-card[data-id='045'] .ark-card-wrapper {
  background-image: url(/img/animals/045球遁鸟.png);
}

.zoo-card.animal-card[data-id='046'] .ark-card-wrapper {
  background-image: url(/img/animals/046狐媚子.png);
}

.zoo-card.animal-card[data-id='047'] .ark-card-wrapper {
  background-image: url(/img/animals/047澳洲蛋白眼.png);
}

.zoo-card.animal-card[data-id='048'] .ark-card-wrapper {
  background-image: url(/img/animals/048中国火球.png);
}

.zoo-card.animal-card[data-id='049'] .ark-card-wrapper {
  background-image: url(/img/animals/049普通威尔士绿龙.png);
}

.zoo-card.animal-card[data-id='050'] .ark-card-wrapper {
  background-image: url(/img/animals/050赫希底里群岛黑龙.png);
}

.zoo-card.animal-card[data-id='051'] .ark-card-wrapper {
  background-image: url(/img/animals/051匈牙利树蜂.png);
}

.zoo-card.animal-card[data-id='052'] .ark-card-wrapper {
  background-image: url(/img/animals/052挪威脊背龙.png);
}

.zoo-card.animal-card[data-id='053'] .ark-card-wrapper {
  background-image: url(/img/animals/053秘鲁毒牙龙.png);
}

.zoo-card.animal-card[data-id='054'] .ark-card-wrapper {
  background-image: url(/img/animals/054乌克兰铁皮龙.png);
}

.zoo-card.animal-card[data-id='055'] .ark-card-wrapper {
  background-image: url(/img/animals/055罗马尼亚长角龙.png);
}

.zoo-card.animal-card[data-id='056'] .ark-card-wrapper {
  background-image: url(/img/animals/056瑞典短鼻龙.png);
}

.zoo-card.animal-card[data-id='057'] .ark-card-wrapper {
  background-image: url(/img/animals/057挖泥泽.png);
}

.zoo-card.animal-card[data-id='058'] .ark-card-wrapper {
  background-image: url(/img/animals/058恶尔精.png);
}

.zoo-card.animal-card[data-id='059'] .ark-card-wrapper {
  background-image: url(/img/animals/059仙女.png);
}

.zoo-card.animal-card[data-id='060'] .ark-card-wrapper {
  background-image: url(/img/animals/060火螃蟹.png);
}

.zoo-card.animal-card[data-id='061'] .ark-card-wrapper {
  background-image: url(/img/animals/061食尸鬼.png);
}

.zoo-card.animal-card[data-id='062'] .ark-card-wrapper {
  background-image: url(/img/animals/062伤心虫.png);
}

.zoo-card.animal-card[data-id='063'] .ark-card-wrapper {
  background-image: url(/img/animals/063地精.png);
}

.zoo-card.animal-card[data-id='064'] .ark-card-wrapper {
  background-image: url(/img/animals/064角驼兽.png);
}

.zoo-card.animal-card[data-id='065'] .ark-card-wrapper {
  background-image: url(/img/animals/065狮鹫.png);
}

.zoo-card.animal-card[data-id='066'] .ark-card-wrapper {
  background-image: url(/img/animals/066马头鱼尾海怪.png);
}

.zoo-card.animal-card[data-id='067'] .ark-card-wrapper {
  background-image: url(/img/animals/067神角畜.png);
}

.zoo-card.animal-card[data-id='068'] .ark-card-wrapper {
  background-image: url(/img/animals/068霍克拉普.png);
}

.zoo-card.animal-card[data-id='069'] .ark-card-wrapper {
  background-image: url(/img/animals/069长角水蛇.png);
}

.zoo-card.animal-card[data-id='070'] .ark-card-wrapper {
  background-image: url(/img/animals/070小魔鬼.png);
}

.zoo-card.animal-card[data-id='071'] .ark-card-wrapper {
  background-image: url(/img/animals/071魔貂.png);
}

.zoo-card.animal-card[data-id='072'] .ark-card-wrapper {
  background-image: url(/img/animals/072绝音鸟.png);
}

.zoo-card.animal-card[data-id='073'] .ark-card-wrapper {
  background-image: url(/img/animals/073马形水怪.png);
}

.zoo-card.animal-card[data-id='074'] .ark-card-wrapper {
  background-image: url(/img/animals/074刺佬儿.png);
}

.zoo-card.animal-card[data-id='075'] .ark-card-wrapper {
  background-image: url(/img/animals/075猫狸子.png);
}

.zoo-card.animal-card[data-id='076'] .ark-card-wrapper {
  background-image: url(/img/animals/076爱尔兰小矮妖.png);
}

.zoo-card.animal-card[data-id='077'] .ark-card-wrapper {
  background-image: url(/img/animals/077伏地蝠.png);
}

.zoo-card.animal-card[data-id='078'] .ark-card-wrapper {
  background-image: url(/img/animals/078洛巴虫.png);
}

.zoo-card.animal-card[data-id='079'] .ark-card-wrapper {
  background-image: url(/img/animals/079软爪陆虾.png);
}

.zoo-card.animal-card[data-id='080'] .ark-card-wrapper {
  background-image: url(/img/animals/080人头狮身蝎尾兽.png);
}

.zoo-card.animal-card[data-id='081'] .ark-card-wrapper {
  background-image: url(/img/animals/081人鱼.png);
}

.zoo-card.animal-card[data-id='082'] .ark-card-wrapper {
  background-image: url(/img/animals/082变形蜥蜴.png);
}

.zoo-card.animal-card[data-id='083'] .ark-card-wrapper {
  background-image: url(/img/animals/083矮猪怪.png);
}

.zoo-card.animal-card[data-id='084'] .ark-card-wrapper {
  background-image: url(/img/animals/084彩球鱼.png);
}

.zoo-card.animal-card[data-id='085'] .ark-card-wrapper {
  background-image: url(/img/animals/085大头毛怪.png);
}

.zoo-card.animal-card[data-id='086'] .ark-card-wrapper {
  background-image: url(/img/animals/086庞洛克.png);
}

.zoo-card.animal-card[data-id='087'] .ark-card-wrapper {
  background-image: url(/img/animals/087蒲绒绒.png);
}

.zoo-card.animal-card[data-id='088'] .ark-card-wrapper {
  background-image: url(/img/animals/088五足怪.png);
}

.zoo-card.animal-card[data-id='089'] .ark-card-wrapper {
  background-image: url(/img/animals/089拉莫拉鱼.png);
}

.zoo-card.animal-card[data-id='090'] .ark-card-wrapper {
  background-image: url(/img/animals/090红帽子.png);
}

.zoo-card.animal-card[data-id='091'] .ark-card-wrapper {
  background-image: url(/img/animals/091瑞埃姆牛.png);
}

.zoo-card.animal-card[data-id='092'] .ark-card-wrapper {
  background-image: url(/img/animals/092海蛇.png);
}

.zoo-card.animal-card[data-id='093'] .ark-card-wrapper {
  background-image: url(/img/animals/093刺猬鱼.png);
}

.zoo-card.animal-card[data-id='094'] .ark-card-wrapper {
  background-image: url(/img/animals/094金探鸟.png);
}

.zoo-card.animal-card[data-id='095'] .ark-card-wrapper {
  background-image: url(/img/animals/095变色巨螺.png);
}

.zoo-card.animal-card[data-id='096'] .ark-card-wrapper {
  background-image: url(/img/animals/096特波疣猪.png);
}

.zoo-card.animal-card[data-id='097'] .ark-card-wrapper {
  background-image: url(/img/animals/097巨怪.png);
}

.zoo-card.animal-card[data-id='098'] .ark-card-wrapper {
  background-image: url(/img/animals/098独角兽.png);
}

.zoo-card.animal-card[data-id='099'] .ark-card-wrapper {
  background-image: url(/img/animals/099猫豹.png);
}

.zoo-card.animal-card[data-id='100'] .ark-card-wrapper {
  background-image: url(/img/animals/100飞马.png);
}

.zoo-card.animal-card[data-id='101'] .ark-card-wrapper {
  background-image: url(/img/animals/101雪人.png);
}

.zoo-card.animal-card[data-id='102'] .ark-card-wrapper {
  background-image: url(/img/animals/102康沃尔郡小精灵.png);
}

.zoo-card.animal-card[data-id='103'] .ark-card-wrapper {
  background-image: url(/img/animals/103麒麟.png);
}

.zoo-card.animal-card[data-id='104'] .ark-card-wrapper {
  background-image: url(/img/animals/104海德薇.png);
}

.zoo-card.animal-card[data-id='105'] .ark-card-wrapper {
  background-image: url(/img/animals/105莱福.png);
}

.zoo-card.animal-card[data-id='106'] .ark-card-wrapper {
  background-image: url(/img/animals/106多比.png);
}

.zoo-card.animal-card[data-id='107'] .ark-card-wrapper {
  background-image: url(/img/animals/107克利切.png);
}

.zoo-card.animal-card[data-id='108'] .ark-card-wrapper {
  background-image: url(/img/animals/108闪闪.png);
}

.zoo-card.animal-card[data-id='109'] .ark-card-wrapper {
  background-image: url(/img/animals/109鸡蛇.png);
}

.zoo-card.animal-card[data-id='110'] .ark-card-wrapper {
  background-image: url(/img/animals/110博格特.png);
}

.zoo-card.animal-card[data-id='111'] .ark-card-wrapper {
  background-image: url(/img/animals/111鹤蜥.png);
}

.zoo-card.animal-card[data-id='112'] .ark-card-wrapper {
  background-image: url(/img/animals/112狮鹫.png);
}

.zoo-card.animal-card[data-id='113'] .ark-card-wrapper {
  background-image: url(/img/animals/113鹦猿.png);
}

.zoo-card.animal-card[data-id='114'] .ark-card-wrapper {
  background-image: url(/img/animals/114鹿鸮.png);
}

.zoo-card.animal-card[data-id='115'] .ark-card-wrapper {
  background-image: url(/img/animals/115鳞鹳.png);
}

.zoo-card.animal-card[data-id='116'] .ark-card-wrapper {
  background-image: url(/img/animals/116豹蚺.png);
}

.zoo-card.animal-card[data-id='117'] .ark-card-wrapper {
  background-image: url(/img/animals/117树龟.png);
}

.zoo-card.animal-card[data-id='118'] .ark-card-wrapper {
  background-image: url(/img/animals/118犀鳄.png);
}

.zoo-card.animal-card[data-id='119'] .ark-card-wrapper {
  background-image: url(/img/animals/119沙鳗.png);
}

.zoo-card.animal-card[data-id='120'] .ark-card-wrapper {
  background-image: url(/img/animals/120虎猴.png);
}

.zoo-card.animal-card[data-id='121'] .ark-card-wrapper {
  background-image: url(/img/animals/121兔蝠.png);
}

.zoo-card.animal-card[data-id='122'] .ark-card-wrapper {
  background-image: url(/img/animals/122狼鲨.png);
}

.zoo-card.animal-card[data-id='123'] .ark-card-wrapper {
  background-image: url(/img/animals/123羱狒.png);
}

.zoo-card.animal-card[data-id='124'] .ark-card-wrapper {
  background-image: url(/img/animals/124蟹猩.png);
}

.zoo-card.animal-card[data-id='125'] .ark-card-wrapper {
  background-image: url(/img/animals/125象鲀.png);
}
